In [1]:
import pandas as pd

In [2]:
# read data
df = pd.read_excel('output0.xlsx', header=None)

In [3]:
df.head()

                                                   0
0  3      Jumlah di Kolom 9 tidak sesuai.        ...
1        Konsumsi Ruta Over Kalori. Konfirmasi ke...
2  4                                             ...
3         Harga kolom 10 kurang dari min RH.     ...
4         Harga kolom 10 lebih dari maks RH.     ...

In [5]:
# column name
df.columns = ['temuan']

In [6]:
df.head()

                                              temuan
0  3      Jumlah di Kolom 9 tidak sesuai.        ...
1        Konsumsi Ruta Over Kalori. Konfirmasi ke...
2  4                                             ...
3         Harga kolom 10 kurang dari min RH.     ...
4         Harga kolom 10 lebih dari maks RH.     ...

In [7]:
# extract last numbers to separate column
df['jumlah'] =  df['temuan'].str.extract('(\d+)$')

In [8]:
df.head()

                                              temuan jumlah
0  3      Jumlah di Kolom 9 tidak sesuai.        ...      7
1        Konsumsi Ruta Over Kalori. Konfirmasi ke...      1
2  4                                             ...     94
3         Harga kolom 10 kurang dari min RH.     ...      6
4         Harga kolom 10 lebih dari maks RH.     ...      1

In [9]:
import re
# define regex
regex_pat = re.compile(r'(\d+)$', flags=re.IGNORECASE)

In [10]:
# remove last numbers from string
df['temuan'] = pd.Series(df['temuan']).str.replace(regex_pat, ' ', regex=True)

In [11]:
df.head()

                                              temuan jumlah
0  3      Jumlah di Kolom 9 tidak sesuai.        ...      7
1        Konsumsi Ruta Over Kalori. Konfirmasi ke...      1
2  4                                             ...     94
3         Harga kolom 10 kurang dari min RH.     ...      6
4         Harga kolom 10 lebih dari maks RH.     ...      1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   temuan  54 non-null     object
 1   jumlah  54 non-null     object
dtypes: object(2)
memory usage: 992.0+ bytes

In [13]:
# extract df to xlsx
df.to_excel('output1_cleansed.xlsx')